#container
{
    width:600px;
    margin:0 auto;
}

#topbar
{
    width:auto;
    display:block;
    height:80px;
}

#navbar
{
    width:auto;
    display:block;
    height:70px;
}

#main
{
    width:auto;
    display:block;
}

#column_left
{
    width:560px;
    margin-right:20px;
    float:left;
}

div.spacer
{
    clear:both;
    height:10px;
    display:block;
}

#footer
{
    width:auto;
    display:block;
    height:24px;
}